/* * {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #000;
} */

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.container h1 {
  margin: 110px 150px;
  font-weight: 400;
}
.content-header {
  display: flex;
}
.header-img {
  justify-content: end;
}
.content {
  display: flex;
  align-items: center;
  margin: 100px 90px;
}

.content-img {
  margin: 0px 50px;
}
.content-img-responsive {
  display: none;
}
.content-title {
  font-size: 20px;
  line-height: 24px;
}
.text-dark {
  font-family: Fredoka;
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

.text-dark p {
  font-size: 14px;
  margin-top: 10px;
}
@media (max-width: 500px) {
  .content-right {
    flex-direction: column;
  }
  .content-left {
    flex-direction: column-reverse;
  }
  .content-img {
    display: none;
  }
  .content-img-responsive {
    display: block;
  }
}
