.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 120px 100px;
}
.content {
  display: flex;
  align-items: self-start;
  /* gap: 100px; */
}
.title {
  font-weight: 400;
  margin: 80px 0px;
}

.content-header {
  display: flex;
  margin-bottom: 25px;
}

.service {
  display: flex;
  margin: 10px 0px;
}
.service-content {
  box-sizing: border-box;
  border: 3px solid #a696c7;
  border-radius: 5px;
  width: 185px;
  height: 150px;
}
.service-content-m {
  margin-right: 36px;
}
.service-img {
  width: 40%;
  height: 40%;
  left: 30%;
  top: 14%;
  position: relative;
}
.text-dark {
  color: #00031b;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin: 35px 30px;
}
.text {
  margin: 35px 7px;
}
.input {
  padding-left: 5px;
  width: 305px;
  height: 56px;
  margin-top: 10px;
  border: 1.5px solid #00031b;
  border-radius: 5px;
  font-size: medium;
}
.input:nth-of-type(1) {
  margin-right: 15px;
}
.input-medium {
  padding-left: 5px;
  width: 626px;
  height: 56px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1.5px solid #00031b;
  border-radius: 5px;
}
.input-long {
  padding-left: 5px;
  width: 625px;
  height: 150px;
  margin-top: 10px;
  border: 1.5px solid #00031b;
  border-radius: 5px;
}
.button {
  width: 634px;
  height: 54px;
  background-color: #bd6df2;
  color: #fff;
  border: none;
  font-weight: 500;
  font-family: "Fredoka";
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 100px;
  margin-top: 30px;
}

@media (max-width: 1350px) {
  .container {
    padding: 8.88vw 7.4vw;
  }
  .content {
    /* gap: 7.4vw; */
  }
  .title {
    font-size: 2.37vw;
  }
  .input {
    width: 22.59vw;
  }
  .input-medium {
    /* width: 46.37vw; */
  }
  .input-long {
    width: 46.29vw;
  }
  .service-content {
    width: 13.7vw;
    height: 11.11vw;
  }
  .text-dark {
    font-size: 1.33vw;
    /* margin: 2.59vw 2.22vw; */
  }
  .content-img {
    width: 33.11vw;
  }
}

@media (max-width: 501px) {
  .container {
    padding: 80px 30px;
  }
  .title {
    margin: 15.96vw 5.98vw;
    font-size: 9.58vw;
  }
  .content {
    flex-direction: column-reverse;
    margin: 0 5.98vw;
  }
  .content-header {
    flex-direction: column;
  }

  .input {
    width: 73.85vw;
    height: 11.17vw;
    margin-top: 8px;
    margin-bottom: 40px;
  }

  .input-medium {
    width: 73.85vw;
    height: 11.17vw;
    margin-top: 8px;

    margin-bottom: 40px;
  }
  .input-long {
    width: 73.85vw;
    height: 45.3vw;
    margin-top: 8px;

    margin-bottom: 40px;
  }
  .service-content {
    width: 22.15vw;
    height: 17.56vw;
  }
  .service-content-m {
    margin-right: 3.39vw;
  }
  .button {
    width: 73.85vw;
    height: 8.78vw;
  }

  .text-dark {
    font-size: 11px;
    line-height: 13px;
    margin: 3.79vw 19px;
  }
  .text {
    margin: 3.79vw 0.2vw;
  }
  .content-img {
    width: 100%;
    margin-bottom: 30px;
  }
}
