.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
h1 {
  font-weight: 400;
  margin: 180px 100px 50px 100px;
}
h3 {
  font-weight: 500;
  margin-bottom: 10px;
}
.list li {
  list-style-type: disc;
  margin-left: 30px;
}
.main-text {
  margin: 50px 100px;
  width: 73%;
}
